---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header/>
	<main class="flex items-center justify-center h-screen">
		<h1 class="flex gap-1">Welcome to <span class="text-main font-bold">Limon Cafe</span></h1>
	</main>
</Layout>
