---

---
<!-- <header class="flex m-auto w-full bg-main/30 fixed left-0 right-0 justify-between z-50 items-center py-4 px-5 laptop:px-4 duration-300">
    <div
    class="navbar invisible opacity-0 p-5 m-auto w-full laptop:w-4/5 bg-box/80 flex flex-col items-start gap-10 absolute left-0 top-[64px] right-0 rounded-b-2xl duration-300 laptop:flex-row laptop:static laptop:visible laptop:opacity-100 laptop:items-center laptop:justify-between laptop:bg-transparent laptop:p-0 laptop:pl-48 laptop:-mr-[1px]"
    >
    <nav>
        <ul class="flex flex-col gap-4 laptop:flex-row">
            <li><a href="#home">Beranda</a></li>
            <li><a href="#jasa">Jasa</a></li>
            <li><a href="#team">Tim</a></li>
            <li><a href="#project">Project</a></li>
            <li><a href="#harga">Harga</a></li>
        </ul>
    </nav>
    <h2 class="font-medium text-slate-800 text-2xl">Hancook</h2>
    <nav class="btn flex justify-between w-full gap-4 laptop:w-52">
        <button class="py-2 w-1/2 bg-main laptop:duration-100 hover:bg-main/60 rounded-md text-white">Masuk</button>
        <button class="py-2 w-1/2 bg-boxborder laptop:duration-100 hover:bg-boxborder/60 rounded-md text-white">Daftar</button>
    </nav>
</div>
    <div class="menu-toggle relative flex items-center h-[30px] w-[30px] laptop:hidden">
      <button id="hamburger" class="absolute flex flex-col items-end gap-2">
        <span class="bg-white h-[3px] w-[35px] block transition ease-in-out duration-300 origin-top-right"></span>
        <span class="bg-white h-[3px] w-[25px] block transition ease-in-out duration-300"></span>
        <span class="bg-white h-[3px] w-[15px] block transition ease-in-out duration-300 origin-bottom-right"></span>
      </button>
    </div>
</header> -->

<header class="bg-gray-900 text-white py-4">
    <div class="container mx-auto flex justify-center items-center gap-20">
        <!-- Left Menu -->
        <div class="flex items-center">
            <ul class="flex space-x-4">
                <li><a href="#" class="hover:text-gray-300">About Us</a></li>
                <li><a href="#" class="hover:text-gray-300">Our Food</a></li>
                <li><a href="#" class="hover:text-gray-300">Menus</a></li>
            </ul>
        </div>

        <!-- Logo -->
        <div>
            <a href="#" class="text-2xl font-bold">
                <img src="" alt="">
            </a>
        </div>

        <!-- Right Menu -->
        <div class="flex items-center">
            <ul class="flex space-x-4">
                <li><a href="#" class="hover:text-gray-300">Photos</a></li>
                <li><a href="#" class="hover:text-gray-300">Contact Us</a></li>
                <li><a href="#" class="hover:text-gray-300">Order Online</a></li>
            </ul>
        </div>
    </div>
</header>